## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [3]:
import pandas as pd
import numpy as np

np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos'])

In [5]:
# 1) Seu código aqui
df_mat['numero_de_questoes_mat'] = 24
df_mat['percentual_acertos_mat'] = df_mat['Qt_acertos'] / df_mat['numero_de_questoes_mat']

df_por['numero_de_questoes_por'] = 18
df_por['percentual_acertos_por'] = df_por['Qt_acertos'] / df_por['numero_de_questoes_por']

df_geo['numero_de_questoes_geo'] = 8
df_geo['percentual_acertos_geo'] = df_geo['Qt_acertos'] / df_geo['numero_de_questoes_geo']

df_ing['numero_de_questoes_ing'] = 8
df_ing['percentual_acertos_ing'] = df_ing['Qt_acertos'] / df_ing['numero_de_questoes_ing']

df_his['numero_de_questoes_his'] = 8
df_his['percentual_acertos_his'] = df_his['Qt_acertos'] / df_his['numero_de_questoes_his']

df_fis['numero_de_questoes_fis'] = 12
df_fis['percentual_acertos_fis'] = df_fis['Qt_acertos'] / df_fis['numero_de_questoes_fis']

df_qui['numero_de_questoes_qui'] = 12
df_qui['percentual_acertos_qui'] = df_qui['Qt_acertos'] / df_qui['numero_de_questoes_qui']

In [7]:
df = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)
df.index += 1
df

,Qt_acertos,numero_de_questoes_mat,percentual_acertos_mat,Qt_acertos,numero_de_questoes_por,percentual_acertos_por,Qt_acertos,numero_de_questoes_geo,percentual_acertos_geo,Qt_acertos,...,percentual_acertos_ing,Qt_acertos,numero_de_questoes_his,percentual_acertos_his,Qt_acertos,numero_de_questoes_fis,percentual_acertos_fis,Qt_acertos,numero_de_questoes_qui,percentual_acertos_qui
1,6,24,0.250000,7,18,0.388889,7,8,0.875,3,...,0.375,1,8,0.125,8,12,0.666667,3,12,0.250000
2,19,24,0.791667,10,18,0.555556,0,8,0.000,0,...,0.000,0,8,0.000,11,12,0.916667,8,12,0.666667
3,14,24,0.583333,16,18,0.888889,0,8,0.000,5,...,0.625,7,8,0.875,4,12,0.333333,4,12,0.333333
4,10,24,0.416667,7,18,0.388889,3,8,0.375,4,...,0.500,0,8,0.000,0,12,0.000000,8,12,0.666667
5,7,24,0.291667,2,18,0.111111,2,8,0.250,7,...,0.875,0,8,0.000,9,12,0.750000,3,12,0.250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,6,24,0.250000,4,18,0.222222,7,8,0.875,1,...,0.125,4,8,0.500,9,12,0.750000,3,12,0.250000
97,8,24,0.333333,1,18,0.055556,4,8,0.500,6,...,0.750,1,8,0.125,4,12,0.333333,3,12,0.250000
98,23,24,0.958333,5,18,0.277778,0,8,0.000,2,...,0.250,4,8,0.500,1,12,0.083333,5,12,0.416667
99,0,24,0.000000,10,18,0.555556,3,8,0.375,1,...,0.125,5,8,0.625,10,12,0.833333,11,12,0.916667
100,11,24,0.458333,15,18,0.833333,0,8,0.000,1,...,0.125,6,8,0.750,7,12,0.583333,2,12,0.166667

In [105]:
# 2) Seu código aqui
total_acertos_aluno = df_mat + df_por + df_geo + df_ing + df_his + df_fis + df_qui
total_acertos_aluno[['Qt_acertos']]

    Qt_acertos
0           35
1           48
2           50
3           32
4           30
..         ...
95          34
96          27
97          40
98          40
99          42

[100 rows x 1 columns]

In [107]:
# 3) Seu código aqui
perc_geral_aluno = total_acertos_aluno[['Qt_acertos']]  / 100
perc_geral_aluno

    Qt_acertos
0         0.35
1         0.48
2         0.50
3         0.32
4         0.30
..         ...
95        0.34
96        0.27
97        0.40
98        0.40
99        0.42

[100 rows x 1 columns]

In [13]:
# 4) Seu código aqui
alunos_aprovados = total_acertos_aluno[total_acertos_aluno['Qt_acertos'] > 45]
print(f'A quantidade de alunos aprovados para a segunda fase é {alunos_aprovados['Qt_acertos'].count()}')

A quantidade de alunos aprovados para a segunda fase é 31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [99]:
# seu código aqui
df_eliminados = total_acertos_aluno[(df_mat['Qt_acertos'] == 0) | 
                      (df_fis['Qt_acertos'] == 0) | 
                      (df_qui['Qt_acertos'] == 0)]

df_eliminados[['Qt_acertos']]

    Qt_acertos
3           32
6           29
10          31
12          42
14          31
20          53
25          27
26          40
27          50
33          39
35          48
49          19
56          39
65          24
66          31
72          50
73          37
74          39
84          26
89          63
92          40
94          25
98          40

In [23]:
numero_eliminados = df_eliminados.shape[0]
print(f'A quantidade de alunos eliminados da segunda fase é {numero_eliminados}')

A quantidade de alunos eliminados da segunda fase é 23

In [35]:
media_historia = df_his.loc[df_eliminados.index].mean()
print(f'A média de acertos dos alunos aliminados em história é {media_historia['Qt_acertos']}')

A média de acertos dos alunos aliminados em história é 3.4347826086956523

In [39]:
media_geografia = df_geo.loc[df_eliminados.index].mean()
print(f'A média de acertos dos alunos aliminados em geografia é {media_geografia['Qt_acertos']}')

A média de acertos dos alunos aliminados em geografia é 3.217391304347826

In [97]:
df_qualificados = alunos_aprovados.loc[(df_mat['Qt_acertos'] != 0) &
                        (df_fis['Qt_acertos'] != 0) &
                        (df_qui['Qt_acertos'] != 0)]

df_aprovados = df_qualificados[df_qualificados > 45]
df_aprovados[['Qt_acertos']]

    Qt_acertos
1           48
2           50
5           50
7           49
8           58
17          52
18          50
24          50
31          54
36          56
37          52
39          49
40          47
42          48
45          48
48          55
60          48
62          46
67          46
70          62
71          53
77          53
78          66
81          55
88          50
93          56

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [65]:
arquivo = 'part-00000-b4de4043-acda-4a2e-9a9e-2afb98636f6a.c000 (1).csv'

In [83]:
# 1) Sua solução aqui
import pandas as pd
df = pd.read_csv(arquivo, sep=';')
df.head()

,document_id,paciente_id,paciente_idade,paciente_dataNascimento,paciente_enumSexoBiologico,paciente_racaCor_codigo,paciente_racaCor_valor,paciente_endereco_coIbgeMunicipio,paciente_endereco_coPais,paciente_endereco_nmMunicipio,...,vacina_categoria_codigo,vacina_categoria_nome,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataAplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem
0,e9b5c1d8-471f-400c-9c3b-2db45ce4b1be-i0b0,1b5a54c96f4fef5ba65535e12cb92502e98f7bd96a31a1...,39,1983-05-08,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,9.0,Trabalhadores de Saúde,212J21A,JANSSEN,30587,2022-06-14,Dose Adicional,88,COVID-19 JANSSEN - Ad26.COV2.S,Novo PNI
1,dd097975-d896-4adc-97a1-5de3f51792a4-i0b0,5310f2da2074b4d20620f811323a6f7c4fc8853fc5a41f...,22,1998-08-09,F,99,SEM INFORMACAO,120013.0,10.0,BUJARI,...,2.0,Faixa Etária,FA9096,PFIZER,Organization/00394544000851,2021-07-23,1ª Dose,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
2,d60011fe-a1b4-4d34-945e-8e041d420609-i0b0,b26582744d70ed052c62fe4d535cdddb2a39159e39bf11...,20,2000-07-21,F,2,PRETA,120070.0,10.0,XAPURI,...,6.0,Povos e Comunidades Tradicionais,210012,SINOVAC/BUTANTAN,Organization/61189445000156,2021-05-21,2ª Dose,86,COVID-19 SINOVAC/BUTANTAN - CORONAVAC,Novo PNI
3,dd180d26-5bee-44d5-a4d5-ea314976d7f1-i0b0,d0a264fe07e8b95225c45d61cd6f1c020c1dec5d5f1125...,68,1953-03-01,F,3,PARDA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,FH4750,PFIZER,Organization/28290,2021-11-25,Reforço,87,COVID-19 PFIZER - COMIRNATY,Novo PNI
4,fdceed25-e60f-4635-9fe0-07f107916153-i0b0,38e9546044dc852ffe5a450f463131beb05b5e077e5324...,60,1960-11-02,F,4,AMARELA,120040.0,10.0,RIO BRANCO,...,2.0,Faixa Etária,216VCD182W,ASTRAZENECA/FIOCRUZ,Organization/33781055000135,2021-07-29,2ª Dose,85,COVID-19 ASTRAZENECA/FIOCRUZ - COVISHIELD,Novo PNI

In [75]:
# 1) Sua solução aqui
import pandas as pd
df = pd.read_csv(arquivo, sep=';')
df.shape[0]

390911

In [77]:
# 2)
df['paciente_id'].nunique()

318850

In [79]:
# 3)
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df['paciente_id'].loc[df['vacina_descricao_dose'] == primeira_dose].nunique()

4487

In [109]:
# 3) solução alternativa
primeira_dose = df['vacina_descricao_dose'].unique()[0]
df_primeira_dose = df[df['vacina_descricao_dose'] == primeira_dose]
df_primeira_dose['paciente_id'].nunique()

4487

In [111]:
# 4)
df_menor = df[df["paciente_idade"]<18]
df_menor['paciente_id'].nunique()

69726

In [119]:
# 5)
df['estabelecimento_razaoSocial'].nunique()

64

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [121]:
# 1)
df_menores_idade = df[df["paciente_idade"]<18].copy()

In [123]:
# 2)
df_menores_idade.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_dataNascimento', 'paciente_enumSexoBiologico',
       'paciente_racaCor_codigo', 'paciente_racaCor_valor',
       'paciente_endereco_coIbgeMunicipio', 'paciente_endereco_coPais',
       'paciente_endereco_nmMunicipio', 'paciente_endereco_nmPais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumNacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoAtendimento_codigo',
       'vacina_grupoAtendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataAplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem'],
      dtype='object')

In [127]:
# 3)
df_menores_idade['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Faixa Etária                                      49015
Povos Indígenas                                    4934
Outros                                             3755
Povos e Comunidades Tradicionais                    875
Trabalhadores de Saúde                              264
Comorbidades                                         58
População Privada de Liberdade                       53
Gestantes                                            47
Trabalhadores da Educação                            14
Trabalhadores de Transporte                          13
Pessoas com Deficiência                              11
Pessoas Institucionalizadas                           3
Pessoas de 60 anos ou mais institucionalizadas        1
Puérperas                                             1
Name: count, dtype: int64

In [133]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaoSocial', 'estalecimento_noFantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
df_menor_lista = df_menor.loc[:,lista_variaveis]

In [135]:
# 5)
df_menor_lista = df_menor_lista.drop_duplicates()
df_menor_lista.shape

(213, 6)